<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1546171753-97d7676e4602?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80')">
    <div class="container">
      <h1 class="text-center">My Cocktails</h1>
    </div>
</div>



  <div class="container mt-3 text-center">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-group">
          <% @cocktails.each do |cocktail|  %>
            <li class="list-group-item"><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-sm-6 text-center">
        <button class="btn btn-info"><%= link_to("Create a cocktail", new_cocktail_path) %></button>
      </div>
  </div>
</div>
